<div class="container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Omega Blog</h1>
    <p class="lead font-italic">“Live as if you were to die tomorrow. Learn as if you were to live forever.”</p>
    <p>Write down the draff in your mind to share with us.</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    <%= link_to "Log in", login_path, class: "btn btn-info btn-lg ml-3" %>
  </div>
</div>